apiVersion: v1
kind: Secret
metadata:
  name: grafana
  namespace: sodalite-services
type: Opaque
stringData:
  admin-pw: ${GRAFANA_ADMIN_PASSWORD}
  admin-user: admin
  role-attribute-path: "contains(resource_access.${KEYCLOAK_CLIENT_ID}.roles[*], 'grafana-admin') && 'Admin' || 'Viewer'"