apiVersion: v1
kind: ConfigMap
metadata:
  name: semantic-web
data:
  WAIT_HOSTS: graph-db:7200
  environment:
  graphdb:  http://graph-db:7200
  bugPredictorServer:  http://tosca-smells:8080/
  ansiblePath: /usr/local/tomcat/webapps/Ansibles/
  reasonerServer: http://semantic-web:8080/
  kbUsername: admin
  kbPassword: ${KB_PASSWORD}
  keycloak: http://keycloak/
  keycloakClientId: ${KEYCLOAK_CLIENT_ID}
  keycloakClientSecret: ${KEYCLOAK_CLIENT_SECRET}