---
apiVersion: v1
kind: Secret
metadata:
  name: xopera-rest-api
  namespace: sodalite-services
type: Opaque
stringData:
  git-auth-token: ""
  auth-api-key: ""
  keycloak-client-secret: "${KEYCLOAK_CLIENT_SECRET}"