# Local computer
username: $CURRENT_USER
local_ipv4_address: $IP_ADDRESS
# Docker host
docker-network: sodalite
dockerhub-user:
dockerhub-pass:
docker-public-registry-url: registry.hub.docker.com
docker-private-registry-url: registry
docker-registry-cert-country-name: SI
docker-registry-cert-organization-name: XLAB
docker-registry-cert-email-address: $SODALITE_EMAIL
# xOpera REST API
postgres_env:
  POSTGRES_USER: $SODALITE_DB_USERNAME
  POSTGRES_PASSWORD: $SODALITE_DB_PASSWORD
  POSTGRES_DB: postgres
xopera_env:
  DEBUG: "false"
  LOG_LEVEL: debug
  PYTHONUNBUFFERED: "1"
  INVOCATION_SERVICE_WORKERS: "10"
  # XOPERA GIT SETTINGS
  XOPERA_GIT_TYPE: gitlab
  XOPERA_GIT_URL: https://gitlab.com
  XOPERA_GIT_AUTH_TOKEN: $SODALITE_GIT_TOKEN
  # XOPERA POSTGRES CONNECTION
  XOPERA_DATABASE_IP: xopera-postgres
  XOPERA_DATABASE_NAME: postgres
  XOPERA_DATABASE_USER: $SODALITE_DB_USERNAME
  XOPERA_DATABASE_PASSWORD: $SODALITE_DB_PASSWORD
  # OIDC SETTINGS
  OIDC_INTROSPECTION_ENDPOINT: http://keycloak:8080/auth/realms/SODALITE/protocol/openid-connect/token/introspect
  OIDC_CLIENT_SECRET: $KEYCLOAK_CLIENT_SECRET
  AUTH_API_KEY: ${XOPERA_AUTH_API_KEY}
  VAULT_LOGIN_URI: http://vault:8200/v1/auth/jwt/login
  VAULT_SECRET_URI: http://vault:8200/v1/
  # ANSIBLE CONFIGURATION
  ANSIBLE_TIMEOUT: "60"
# Image Builder
image_builder_env:
  REGISTRY_IP: $IP_ADDRESS
  DEBUG: "false"
  LOG_LEVEL: debug
# Modak
modak_api_env:
  MODAK_DATABASE_PASSWORD: $SODALITE_DB_PASSWORD
  MODAK_DATABASE_HOST: modak-db
  MODAK_DATABASE_PORT: "3306"
modak_db_env:
  MYSQL_ROOT_HOST: "%"
  MYSQL_ROOT_PASSWORD: $SODALITE_DB_PASSWORD
# Vault
vault_env:
  VAULT_LOCAL_CONFIG: '{"backend": {"file": {"path": "/vault/file"}}, "default_lease_ttl": "16h", "max_lease_ttl": "72h"}'
  VAULT_DEV_ROOT_TOKEN_ID: $VAULT_TOKEN
  VAULT_TOKEN: $VAULT_TOKEN
vault_token: $VAULT_TOKEN
project_domains: [ snow, clinical, vehicle, pds ]
# Keycloak
keycloak_env:
  KEYCLOAK_USER: admin
  KEYCLOAK_PASSWORD: $KEYCLOAK_ADMIN_PASSWORD
  KEYCLOAK_IMPORT: /tmp/sodalite-realm.json
keycloak_client_secret: $KEYCLOAK_CLIENT_SECRET
# Platform Discovery Service
pds_env:
  SECRET_VAULT_LOGIN_URI: http://vault:8200/v1/auth/jwt/login
  SECRET_VAULT_URI: http://vault:8200/v1/
  OIDC_INTROSPECTION_ENDPOINT: http://keycloak:8080/auth/realms/SODALITE/protocol/openid-connect/token/introspect
  OIDC_CLIENT_SECRET: $KEYCLOAK_CLIENT_SECRET
# Semantic Reasoner
reasoner_env:
  WAIT_HOSTS: graph-db:7200
  environment: docker
  graphdb:  http://graph-db:7200
  bugPredictorServer:  http://tosca-smells:8080/
  ansiblePath: /usr/local/tomcat/webapps/Ansibles/
  reasonerServer: http://semantic-web:8080/
  kbUsername: admin
  kbPassword: $KB_PASSWORD
  keycloak: http://keycloak:8080/
  keycloakClientId: sodalite-ide
  keycloakClientSecret: $KEYCLOAK_CLIENT_SECRET
kb_password: $KB_PASSWORD
# Defect Prediction
toscasmells_env:
  environment: docker
  WAIT_HOSTS: graph-db:7200
  graphdb: http://graph-db:7200
  kbUsername: admin
  kbPassword: $KB_PASSWORD
gf_admin_pw: $GF_ADMIN_PW
gf_admin_user: admin
gf_port: "3000"
gf_registry_port: "3001"
ruleserver_port: "9092"
vault_secret_uploader_port: "8202"
oidc_introspection_endpoint: http://keycloak:8080/auth/realms/SODALITE/protocol/openid-connect/token/introspect
vault_address: vault
