username: $CURRENT_USER
local_ipv4_address: $IP_ADDRESS
docker-network: sodalite
dockerhub-user: 
dockerhub-pass: 
docker-public-registry-url: registry.hub.docker.com
docker-private-registry-url: registry
docker-registry-cert-country-name: SI
docker-registry-cert-organization-name: XLAB
docker-registry-cert-email-address: $SODALITE_EMAIL
postgres_env:
  POSTGRES_USER: $SODALITE_DB_USERNAME
  POSTGRES_PASSWORD: $SODALITE_DB_PASSWORD
  POSTGRES_DB: postgres
xopera_env:
  XOPERA_GIT_TYPE: gitlab
  XOPERA_GIT_URL: https://gitlab.com
  XOPERA_GIT_AUTH_TOKEN: $SODALITE_GIT_TOKEN
  XOPERA_VERBOSE_MODE: debug
  XOPERA_DATABASE_IP: xopera-postgres
  XOPERA_DATABASE_NAME: postgres
  XOPERA_DATABASE_USER: $SODALITE_DB_USERNAME
  XOPERA_DATABASE_PASSWORD: $SODALITE_DB_PASSWORD
  OIDC_INTROSPECTION_ENDPOINT: http://keycloak:8080/auth/realms/SODALITE/protocol/openid-connect/token/introspect 
  OIDC_CLIENT_SECRET: $KEYCLOAK_CLIENT_SECRET 
  SECRET_VAULT_LOGIN_URI: http://vault:8200/v1/auth/jwt/login 
  SECRET_VAULT_URI: http://vault:8200/v1/  
image_builder_env:
  REGISTRY_IP: $IP_ADDRESS
modak_api_env:
  MODAK_DATABASE_PASSWORD: $SODALITE_DB_PASSWORD
  MODAK_DATABASE_HOST: modak-db
  MODAK_DATABASE_PORT: "3306"
modak_db_env:
  MYSQL_ROOT_HOST: "%"
  MYSQL_ROOT_PASSWORD: $SODALITE_DB_PASSWORD
vault_env:  
  VAULT_LOCAL_CONFIG: '{"backend": {"file": {"path": "/vault/file"}}, "default_lease_ttl": "16h", "max_lease_ttl": "72h"}'
  VAULT_DEV_ROOT_TOKEN_ID: $VAULT_TOKEN
  VAULT_TOKEN: $VAULT_TOKEN
keycloak_env:
  KEYCLOAK_USER: admin
  KEYCLOAK_PASSWORD: $KEYCLOAK_ADMIN_PASSWORD
  KEYCLOAK_IMPORT: /tmp/sodalite-realm.json
keycloak_client_secret: $KEYCLOAK_CLIENT_SECRET
vault_token: $VAULT_TOKEN
project_domains: [ snow, clinical, vehicle, pds ]
pds_env:
  SECRET_VAULT_LOGIN_URI: http://vault:8200/v1/auth/jwt/login 
  SECRET_VAULT_URI: http://vault:8200/v1/ 
  OIDC_INTROSPECTION_ENDPOINT: http://keycloak:8080/auth/realms/SODALITE/protocol/openid-connect/token/introspect 
  OIDC_CLIENT_SECRET: $KEYCLOAK_CLIENT_SECRET
reasoner_env:
  WAIT_HOSTS: graph-db:7200
  environment: docker
  graphdb:  http://graph-db:7200
  bugPredictorServer:  http://tosca-smells:8080/  
  ansiblePath: /usr/local/tomcat/webapps/Ansibles/
  reasonerServer: http://semantic-web:8080/
  kbUsername: admin
  kbPassword: $KB_PASSWORD
  keycloak: http://keycloak:8080/
  keycloakClientId: sodalite-ide
  keycloakClientSecret: $KEYCLOAK_CLIENT_SECRET
toscasmells_env:
  environment: docker
  WAIT_HOSTS: graph-db:7200
  graphdb: http://graph-db:7200
  kbUsername: admin
  kbPassword: $KB_PASSWORD  
kb_password: $KB_PASSWORD  
