tosca_definitions_version: tosca_simple_yaml_1_3

imports:
  - modules/openstack/openstack_vm.yaml
  - modules/docker/docker_host.yaml
  - modules/docker/docker_network.yaml
  - modules/docker/docker_registry.yaml
  - modules/docker/docker_component.yaml
  - modules/docker/docker_certificate.yaml
  - modules/docker/docker_volume.yaml
  - modules/misc/ssh/types.yaml
  - modules/misc/tls/types.yaml
  - library/config/types.yaml

node_types:

  sodalite.nodes.SodaliteVM:
    derived_from: tosca.nodes.Compute
    properties:
      username:
        type: string
      name:
        type: string
        description: Name of machine. Used to write into registry certificate


topology_template:

  inputs:  
    username:  
      type: string 
    docker-registry-ip:  
      type: string 
    docker-network: 
      type: string
    dockerhub-user:
      type: string
      default: ""      
    dockerhub-pass: 
      type: string
      default: "" 
    docker-public-registry-url: 
      type: string
      default: ""
    docker-private-registry-url: 
      type: string
      default: ""
    docker-registry-cert-country-name:
      type: string
      default: ""
    docker-registry-cert-organization-name: 
      type: string
      default: ""
    docker-registry-cert-email-address: 
      type: string
      default: ""
    postgres_env:
      type: map
    xopera_env:
      type: map
    image_builder_env:
      type: map  

  node_templates: 

    sodalite-vm:
      type: sodalite.nodes.SodaliteVM
      properties:
        username: { get_input: username }
        name: localhost
      attributes:
        private_address: localhost
        public_address: localhost

    docker-host:
      type: sodalite.nodes.DockerHost
      requirements:
        - host: sodalite-vm

    docker-network:
      type: sodalite.nodes.DockerNetwork
      properties:  
        name: { get_input: docker-network }
      requirements:
        - host: sodalite-vm 
        - dependency: docker-host    
        
    docker-public-registry:
      type: sodalite.nodes.DockerRegistry
      properties:  
        docker_registry_url: { get_input: docker-public-registry-url } 
      requirements:
        - host: sodalite-vm
        - dependency: docker-host
    # TODO do we even need this node?
    docker-registry-certificate:
      type: sodalite.nodes.RegistryCertificate
      properties:
        registry_ip:        localhost
        country_name:       { get_input: docker-registry-cert-country-name }
        organization_name:  { get_input: docker-registry-cert-organization-name }
        email_address:      { get_input: docker-registry-cert-email-address }
      requirements:
        - host: sodalite-vm
        - dependency: docker-host

    tls-certs:
      type: sodalite.nodes.TLS.Certificate
      properties:
        country_name:        { get_input: docker-registry-cert-country-name }
        organization_name:   { get_input: docker-registry-cert-organization-name }
        email_address:       { get_input: docker-registry-cert-email-address }
        cert_path: "/home/nginx/certs"
      requirements:
        - host: sodalite-vm
        - dependency: docker-host

    # xopera-rest-api
    # https://github.com/SODALITE-EU/xopera-rest-api        
    xopera-openstack-keys:
      type: sodalite.nodes.ConfigureKeys
      requirements:
        - host: sodalite-vm

    xopera-openapi-volume:
      type: sodalite.nodes.DockerVolume
      properties:
        name: xopera-openapi
      requirements:
        - host: sodalite-vm

    xopera-proxy-tls-config:
      type: sodalite.nodes.Configuration.NginxConfig
      properties:
        cert_files_prefix: { get_attribute: [ SELF, dependency, cert_files_prefix ] }
        dir: /home/nginx
        filename: certificates.toml
        template_name: certificates.toml.tmpl
      requirements:
        - host: sodalite-vm
        - dependency: tls-certs

    xopera-postgres:
      type: sodalite.nodes.DockerizedComponent
      properties:
        image_name: library/postgres:13
        volumes:
          - "/home/postgres:/var/lib/postgresql/data"
        alias: xopera-postgres
        env: { get_input: postgres_env }
        docker_network_name: { get_property: [ SELF, network, name ] }
        labels:
          traefik.enable: "true"
          traefik.tcp.services.postgres.loadbalancer.server.port: "5432"
          traefik.tcp.routers.postgres.rule: "HostSNI(`*`)"
          traefik.tcp.routers.postgres.entrypoints: "postgres"

      requirements:
        - host: docker-host
        - network: docker-network
        - registry: docker-public-registry

    xopera-api:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: xopera-rest-api
        docker_network_name: { get_property: [ SELF, network, name ] }
        image_name: sodaliteh2020/xopera-rest-api:1.0.1
        restart_policy: always
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock
          - /root/.ssh/:/root/.ssh/
          - xopera-openapi:/app/opera/api/openapi/openapi/
        labels:
          traefik.enable: "true"
          traefik.http.services.api.loadbalancer.server.port: "8080"
          # http config
          traefik.http.routers.api.rule: "PathPrefix(`/`)"
          traefik.http.routers.api.entrypoints: "web"
          # https config
          traefik.http.routers.api-https.rule: "PathPrefix(`/`)"
          traefik.http.routers.api-https.entrypoints: "websecure"
          traefik.http.routers.api-https.tls: "true"
        env: { get_input: xopera_env }
      requirements:
        - host: docker-host
        - registry: docker-public-registry
        - network: docker-network
        - dependency: docker-registry-certificate
        - dependency: xopera-openstack-keys
        - dependency: xopera-postgres
        - dependency: xopera-openapi-volume

    xopera-ui:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: xopera-ui
        docker_network_name: { get_property: [ SELF, network, name ] }
        image_name: swaggerapi/swagger-ui:v3.37.0
        restart_policy: always
        volumes:
          - xopera-openapi:/openapi:ro
        env:
          SWAGGER_JSON: /openapi/openapi.yaml
        labels:
          traefik.enable: "true"
          traefik.http.services.ui.loadbalancer.server.port: "8080"
          traefik.http.middlewares.stripprefix-ui.stripprefix.prefixes: "/ui"
          # http config
          traefik.http.routers.ui.entrypoints: "web"
          traefik.http.routers.ui.rule: "PathPrefix(`/ui`)"
          traefik.http.routers.ui.middlewares: "stripprefix-ui"
          # https config
          traefik.http.routers.ui-https.entrypoints: "websecure"
          traefik.http.routers.ui-https.tls: "true"
          traefik.http.routers.ui-https.rule: "PathPrefix(`/ui`)"
          traefik.http.routers.ui-https.middlewares: "stripprefix-ui"
      requirements:
        - host: docker-host
        - registry: docker-public-registry
        - network: docker-network
        - dependency: xopera-api
        - dependency: xopera-openapi-volume

    # Could be used for other components as well
    xopera-proxy:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: xopera-proxy
        docker_network_name: { get_property: [ SELF, network, name ] }
        image_name: library/traefik:v2.3.4
        command:
          - "--accesslog=true"
          - "--log.level=info"
          - "--providers.docker=true"
          - "--providers.docker.exposedbydefault=false"
          # entrypoints
          - "--entrypoints.web.address=:5000"
          - "--entrypoints.websecure.address=:5001"
          - "--entrypoints.postgres.address=:5432"
          - "--entrypoints.traefik.address=:8888"
          # http certs config
          - "--providers.file.directory=/configuration/"
          - "--providers.file.watch=true"
          # dashboard
          - "--api.dashboard=true"
        restart_policy: always
        ports: [ '5001:5001', '5000:5000', '8888:8888', '5432:5432' ]
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
          - /home/nginx/certificates.toml:/configuration/certificates.toml:ro
          - /home/nginx/certs:/etc/nginx/certs
        labels:
          traefik.enable: "true"
          traefik.http.routers.traefik.rule: "(PathPrefix(`/traefik`) || PathPrefix(`/api`))"
          traefik.http.routers.traefik.service: "api@internal"
          traefik.http.routers.traefik.entrypoints: "traefik"
          traefik.http.routers.traefik.tls: "true"
          traefik.http.middlewares.strip.stripprefix.prefixes: "/traefik"
          traefik.http.routers.traefik.middlewares: "auth, strip"
          traefik.http.middlewares.auth.digestauth.removeheader: "true"
          traefik.http.middlewares.auth.digestauth.users: "test:traefik:5200b80022bb7d8e8c8bf2eb34b985cb"

      requirements:
        - host: docker-host
        - registry: docker-public-registry
        - network: docker-network
        - dependency: xopera-api
        - dependency: xopera-ui
        - dependency: xopera-postgres
        - dependency: xopera-proxy-tls-config

    # image registry
    docker-registry-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: registry
        image_name: library/registry:2
        ports:
          - "443:443"
        #TODO get filenames from docker-registry-certificate, when opera enables intrinsic functions on all depths
        ca_cert: "/certs/ca.crt"
        client_cert: "/certs/localhost.crt"
        client_key: "/certs/localhost.key"
        etc_hosts:
          registry.docker.local: 127.0.0.1
        volumes:
          - "/home/localregistry/registry:/var/lib/registry"
          - "/home/nginx/certs:/certs"
        env:
          REGISTRY_HTTP_ADDR: 0.0.0.0:443
          REGISTRY_HTTP_TLS_CLIENTCAS: "[/certs/ca.crt]"
          REGISTRY_HTTP_TLS_CERTIFICATE: "/certs/localhost.crt"
          REGISTRY_HTTP_TLS_KEY: "/certs/localhost.key"
        docker_network_name:  { get_property: [ SELF, network, name ] }  
      requirements:
        - host: docker-host
        - registry: docker-public-registry   
        - network: docker-network   
        - dependency: docker-registry-certificate 

    # iac-blueprint-builder 
    # https://github.com/SODALITE-EU/iac-blueprint-builder 
    iac-builder-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: iac-builder
        image_name: sodaliteh2020/iac-blueprint-builder:24
        docker_network_name:  { get_property: [ SELF, network, name ] }
        restart_policy: always
        ports: 
        - "8081:80"
        env:
          XOPERA_ENDPOINT: http://xopera-proxy:5000
      requirements:
        - host: docker-host
        - registry: docker-public-registry 
        - network: docker-network    
        - dependency: xopera-proxy

    # image-builder     
    # https://github.com/SODALITE-EU/image-builder  
    image-builder-flask:
      type: sodalite.nodes.DockerizedComponent
      properties:
        image_name:  sodaliteh2020/image-builder-flask:v0.2.1
        docker_network_name:  { get_property: [ SELF, network, name ] }
        exposed_ports:  ['5000']
        env: { get_input: image_builder_env }
        volumes:
          - "/var/run/docker.sock:/var/run/docker.sock"
        alias: image-builder-flask
      requirements:
        - host:  docker-host
        - registry: docker-public-registry 
        - network: docker-network

    image-builder-nginx:
      type: sodalite.nodes.DockerizedComponent
      properties:
        image_name: sodaliteh2020/image-builder-nginx:v0.2.1
        docker_network_name:  { get_property: [ SELF, network, name ] }
        ports:  ['5002:443']
        #exposed_ports:  ['443']
        volumes:
          - "/home/xopera/certs:/etc/nginx/certs"
        alias: image-builder-nginx
      requirements:
        - host:  docker-host
        - dependency: image-builder-flask
        - network: docker-network 
        - registry: docker-public-registry 
        - dependency: docker-registry-certificate

    # semantic-reasoner     
    # https://github.com/SODALITE-EU/semantic-reasoner 
    know-db-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: graph-db
        docker_network_name:  { get_property: [ SELF, network, name ] }
        image_name: sodaliteh2020/graph_db:172
        restart_policy: always
        ports:  ['7200:7200']
        exposed_ports:  ['7200']
      requirements:
        - host: docker-host
        - registry: docker-public-registry   
        - network: docker-network      

    semantic-web-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: semantic-web
        docker_network_name:  { get_property: [ SELF, network, name ] }
        image_name: sodaliteh2020/semantic_web:172
        restart_policy: always
        env:
          WAIT_HOSTS: graph-db:7200
          environment: docker
          graphdb:  http://graph-db:7200
          bugPredictorServer:  http://tosca-smells:8080/  
          ansiblePath: /usr/local/tomcat/webapps/Ansibles/
          reasonerServer: http://semantic-web:8080/
        ports:  ['8080:8080']
        volumes:
          - "/tmp/tomcat/webapps/Ansibles:/usr/local/tomcat/webapps/Ansibles"   
      requirements:
        - host: docker-host
        - registry: docker-public-registry   
        - network: docker-network     
        - dependency: know-db-container
        - dependency: tosca-smells-container

    # iac-quality-framework   
    # https://github.com/SODALITE-EU/iac-quality-framework
    iac-metrics-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: iac-metrics
        image_name: sodaliteh2020/iacmetrics:8
        restart_policy: always
        ports:  ['5003:5000']
      requirements:
        - host: docker-host
        - registry: docker-public-registry   
     
    # defect-prediction      
    # https://github.com/SODALITE-EU/defect-prediction         
    tosca-smells-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: tosca-smells
        docker_network_name:  { get_property: [ SELF, network, name ] }
        image_name: sodaliteh2020/toscasmells:124
        restart_policy: always
        env:
          environment: docker
          WAIT_HOSTS: graph-db:7200
          graphdb: http://graph-db:7200
        ports:  ['8082:8080']
        exposed_ports:  ['8080']
      requirements:
        - host: docker-host
        - registry: docker-public-registry  
        - dependency: know-db-container
        - network: docker-network 

    ansible-smells-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: ansible-smells
        image_name: sodaliteh2020/ansiblesmells:124
        restart_policy: always
        ports:  ['5004:5000']
      requirements:
        - host: docker-host
        - registry: docker-public-registry          

    # verification    
    # https://github.com/SODALITE-EU/verification 
    tosca-syntax-verifier-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: tosca-syntax
        image_name: sodaliteh2020/toscasynverifier:8
        restart_policy: always
        ports:  ['5005:5000']
      requirements:
        - host: docker-host
        - registry: docker-public-registry           

    workflow-verifier-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: workflow-verifier
        image_name: sodaliteh2020/workflowverifier:8
        restart_policy: always
        ports:  ['5006:5000']
      requirements:
        - host: docker-host
        - registry: docker-public-registry
    # refactoring-ml
    # https://github.com/SODALITE-EU/refactoring-ml      
    rule-based-refactorer-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: rule-based-refactorer
        image_name: sodaliteh2020/rule_based_refactorer:49
        restart_policy: always
        ports:  ['8083:8080']
        docker_network_name:  { get_property: [ SELF, network, name ] }
        env:
          prometheus: http://prometheus:9090
          xopera: http://xopera-proxy:5000
          refacopdiscoverer: http://refactoring-option-discoverer:8080
          perfpredictor: http://performance-predictor-refactoring:5000
      requirements:
        - host: docker-host
        - registry: docker-public-registry 
        - network: docker-network   
        - dependency: xopera-proxy
        - dependency: performance-predictor-refactoring-container
        - dependency: refactoring-option-discoverer-container
        
    performance-predictor-refactoring-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: performance-predictor-refactoring
        image_name: sodaliteh2020/fo_perf_predictor_api:49
        restart_policy: always
        ports:  ['5007:5000']
        docker_network_name:  { get_property: [ SELF, network, name ] }
        env:
          prometheus: http://prometheus:9090
          xopera: http://xopera-proxy:5000
          refacopdiscoverer: http://refactoring-option-discoverer:8080
          perfpredictor: http://performance-predictor-refactoring:5000
      requirements:
        - host: docker-host
        - registry: docker-public-registry 
        - network: docker-network  
        - dependency: xopera-proxy
        - dependency: refactoring-option-discoverer-container

    # https://github.com/SODALITE-EU/refactoring-option-discoverer
    refactoring-option-discoverer-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: refactoring-option-discoverer
        image_name: sodaliteh2020/refactoring_option_discoverer:60
        restart_policy: always
        ports:  ['8084:8080']
        env:
          graphdb: http://graph-db:7200
        docker_network_name:  { get_property: [ SELF, network, name ] }
      requirements:
        - host: docker-host
        - registry: docker-public-registry  
        - network: docker-network         
        - dependency: know-db-container

    # https://github.com/SODALITE-EU/monitoring-system
    monitoring-system-container:
      type: sodalite.nodes.DockerizedComponent
      properties:
        alias: prometheus
        image_name: sodaliteh2020/monitoring-system:dockerization
        restart_policy: always
        ports:  ['9090:9090']
        exposed_ports:  ['9090']
        docker_network_name:  { get_property: [ SELF, network, name ] }
      requirements:
        - host: docker-host
        - registry: docker-public-registry  
        - network: docker-network         
    

    # IDE    
    # https://github.com/SODALITE-EU/ide   
    # requires X11 system     
    # ide-config:
    #   type: sodalite.nodes.Configuration.IDE
    #   properties:
    #     dir: /tmp
    #     filename: sodalite.properties
    #     iac_blueprint_builder_endpoint: iac-builder:80       
    #     semantic_web_endpoint: semantic-web:8080                 
    #     xopera_endpoint: xopera-nginx:5000            
    #   requirements:
    #     - host: sodalite-vm   
    
    # ide-container:
    #   type: sodalite.nodes.DockerizedComponent
    #   properties:
    #     image_name: sodaliteh2020/sodalite-ide
    #     docker_network_name:  { get_property: [ SELF, network, name ] }
    #     volumes:
    #       - "/tmp/.X11-unix:/tmp/.X11-unix"   
    #       - /tmp/sodalite.properties:/sodalite/eclipse/sodalite.properties     
    #     alias: sodalite-ide
    #     env: 
    #       DISPLAY=:0
    #   requirements:
    #     - host: docker-host
    #     - registry: docker-public-registry  
    #     - network: docker-network         