---
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-realm
  namespace: sodalite-services
type: Opaque
stringData:
  sodalite-realm.json: |
    {
        "id": "${KEYCLOAK_REALM}",
        "realm": "${KEYCLOAK_REALM}",
        "notBefore": 0,
        "revokeRefreshToken": false,
        "refreshTokenMaxReuse": 0,
        "accessTokenLifespan": 300,
        "accessTokenLifespanForImplicitFlow": 900,
        "ssoSessionIdleTimeout": 1800,
        "ssoSessionMaxLifespan": 36000,
        "ssoSessionIdleTimeoutRememberMe": 0,
        "ssoSessionMaxLifespanRememberMe": 0,
        "offlineSessionIdleTimeout": 2592000,
        "offlineSessionMaxLifespanEnabled": false,
        "offlineSessionMaxLifespan": 5184000,
        "clientSessionIdleTimeout": 0,
        "clientSessionMaxLifespan": 0,
        "clientOfflineSessionIdleTimeout": 0,
        "clientOfflineSessionMaxLifespan": 0,
        "accessCodeLifespan": 60,
        "accessCodeLifespanUserAction": 300,
        "accessCodeLifespanLogin": 1800,
        "actionTokenGeneratedByAdminLifespan": 43200,
        "actionTokenGeneratedByUserLifespan": 300,
        "enabled": true,
        "sslRequired": "none",
        "registrationAllowed": true,
        "registrationEmailAsUsername": false,
        "rememberMe": false,
        "verifyEmail": false,
        "loginWithEmailAllowed": true,
        "duplicateEmailsAllowed": false,
        "resetPasswordAllowed": false,
        "editUsernameAllowed": false,
        "bruteForceProtected": false,
        "permanentLockout": false,
        "maxFailureWaitSeconds": 900,
        "minimumQuickLoginWaitSeconds": 60,
        "waitIncrementSeconds": 60,
        "quickLoginCheckMilliSeconds": 1000,
        "maxDeltaTimeSeconds": 43200,
        "failureFactor": 30,
        "roles": {
            "realm": [
            {
                "id": "a5c6b42b-6faf-4362-b511-0337f4a03b15",
                "name": "offline_access",
                "description": "${role_offline-access}",
                "composite": false,
                "clientRole": false,
                "containerId": "${KEYCLOAK_REALM}",
                "attributes": {}
            },
            {
                "id": "16bae57e-82ee-4051-8f59-35969327d0ca",
                "name": "uma_authorization",
                "description": "${role_uma_authorization}",
                "composite": false,
                "clientRole": false,
                "containerId": "${KEYCLOAK_REALM}",
                "attributes": {}
            }
            ],
            "client": {
            "realm-management": [
                {
                "id": "6eb2d727-7cf2-4333-853c-f27c511fcf11",
                "name": "impersonation",
                "description": "${role_impersonation}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "a108895f-1668-4fd9-9ea9-a981770efafa",
                "name": "create-client",
                "description": "${role_create-client}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "f650239d-c540-4f35-ab2f-a29445db8762",
                "name": "manage-identity-providers",
                "description": "${role_manage-identity-providers}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "874f95cf-137b-4fe8-805f-ff73b6bfe49e",
                "name": "manage-authorization",
                "description": "${role_manage-authorization}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "089eaddf-16a6-44c6-8a10-f49d72943b1f",
                "name": "manage-clients",
                "description": "${role_manage-clients}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "60a4de34-d639-4dc3-b94b-9216b2868570",
                "name": "view-users",
                "description": "${role_view-users}",
                "composite": true,
                "composites": {
                    "client": {
                    "realm-management": [
                        "query-users",
                        "query-groups"
                    ]
                    }
                },
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "b29a2b5b-761c-4d6b-a841-ee2a9679e35f",
                "name": "query-clients",
                "description": "${role_query-clients}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "9e017028-86c0-4df0-864b-c6b15e3ff6f1",
                "name": "view-events",
                "description": "${role_view-events}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "28e1c240-18c4-4c80-a752-6d044bbf6e39",
                "name": "view-realm",
                "description": "${role_view-realm}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "52d0f091-8793-4cee-81ae-60c9f58fe639",
                "name": "realm-admin",
                "description": "${role_realm-admin}",
                "composite": true,
                "composites": {
                    "client": {
                    "realm-management": [
                        "impersonation",
                        "create-client",
                        "manage-identity-providers",
                        "manage-clients",
                        "view-users",
                        "manage-authorization",
                        "view-events",
                        "query-clients",
                        "view-realm",
                        "query-users",
                        "view-authorization",
                        "query-groups",
                        "manage-users",
                        "query-realms",
                        "manage-events",
                        "manage-realm",
                        "view-identity-providers",
                        "view-clients"
                    ]
                    }
                },
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "1a9abf02-35d7-48d8-a999-ab2f34518595",
                "name": "query-users",
                "description": "${role_query-users}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "87720f40-1f7f-45fd-ab45-ce59d85c7ba0",
                "name": "view-authorization",
                "description": "${role_view-authorization}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "ab0c9e4f-edf5-4957-916f-4f9f77f22a63",
                "name": "manage-users",
                "description": "${role_manage-users}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "8cbd38e2-c7e2-4dbe-b002-3dc9e0999c50",
                "name": "query-groups",
                "description": "${role_query-groups}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "51cdddd7-e7df-4257-a4b3-0a0247252819",
                "name": "query-realms",
                "description": "${role_query-realms}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "21cec5e0-7395-4576-9e07-2e839d852bc3",
                "name": "manage-events",
                "description": "${role_manage-events}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "8676ece8-3870-4d9b-8de3-c1e718b22afe",
                "name": "manage-realm",
                "description": "${role_manage-realm}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "e143e410-a80d-49ec-bcb9-f55ce693e99a",
                "name": "view-clients",
                "description": "${role_view-clients}",
                "composite": true,
                "composites": {
                    "client": {
                    "realm-management": [
                        "query-clients"
                    ]
                    }
                },
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                },
                {
                "id": "8eefce65-4053-4550-9895-37e18b704208",
                "name": "view-identity-providers",
                "description": "${role_view-identity-providers}",
                "composite": false,
                "clientRole": true,
                "containerId": "f1df4bc8-befc-4a03-bd71-d25650e06424",
                "attributes": {}
                }
            ],
            "security-admin-console": [],
            "admin-cli": [],
            "account-console": [],
            "broker": [
                {
                "id": "da5ce4fa-90f3-451f-a720-6d4fad033342",
                "name": "read-token",
                "description": "${role_read-token}",
                "composite": false,
                "clientRole": true,
                "containerId": "2cc0a18f-9e52-4932-8981-96531b2fb90c",
                "attributes": {}
                }
            ],
            "${KEYCLOAK_CLIENT_ID}": [
                {
                "id": "b96c572b-19d8-4250-a55f-69b7699aa059",
                "name": "clinical_aadm_w",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "18df820c-49dc-4b74-ba5f-661851ab1d66",
                "name": "snow_rm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "a6e34674-e3c5-4b3c-9755-6bd7279528c3",
                "name": "snow_aadm_w",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "74d4a8f7-e02b-4485-aa15-423fc262c08e",
                "name": "openstack_rm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "fcb2cc68-0c57-4a86-9795-19e0937a47be",
                "name": "snow_aadm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "238a1b56-c9c4-4e82-ae11-917746bb7baa",
                "name": "aadm_w",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "080c1943-995b-4e1e-a5f8-e9db1db50325",
                "name": "rm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "06d341d5-46a7-4253-9ceb-9aceb46def30",
                "name": "clinical_aadm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "a925dd5c-12f4-4565-af2e-cf578fa0f52e",
                "name": "global_rm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "7869f260-dac8-4858-9d5a-6d432f6d3859",
                "name": "docker_rm_r",
                "description": "Read permission for docker module",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "7ebb172e-d593-47ad-973d-222133f3029c",
                "name": "rm_w",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "c53c4be3-2e57-45d8-82df-36c48ad55b8c",
                "name": "aadm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "d5412a50-d6b6-4a32-a1ec-a25f279eb4df",
                "name": "docker_rm_w",
                "description": "Write permission for docker module",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "06af944a-fe51-46fe-8a2e-47bd0dd76d1f",
                "name": "global_aadm_r",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "afb8ee5c-bbea-41d0-a692-6a5a7e9b5190",
                "name": "snow_rm_w",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "52139631-25c9-405c-a67c-96b9d69edbb4",
                "name": "pds",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "2d63fc92-b3fe-46b9-b8c2-011610907ea5",
                "name": "openstack_rm_w",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                },
                {
                "id": "8d043558-1bb4-11ec-9621-0242ac130002",
                "name": "grafana-admin",
                "composite": false,
                "clientRole": true,
                "containerId": "9667a547-f6a9-4812-bbdd-803770dd9706",
                "attributes": {}
                }
            ],
            "account": [
                {
                "id": "dae7bcb4-8f4c-449a-ab78-efed4ba5df55",
                "name": "view-applications",
                "description": "${role_view-applications}",
                "composite": false,
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                },
                {
                "id": "4d31c00e-8c38-46f1-91bc-e005dc029b90",
                "name": "delete-account",
                "description": "${role_delete-account}",
                "composite": false,
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                },
                {
                "id": "e219f1c8-8f49-4b90-bd35-ff4fee4f6e33",
                "name": "manage-account",
                "description": "${role_manage-account}",
                "composite": true,
                "composites": {
                    "client": {
                    "account": [
                        "manage-account-links"
                    ]
                    }
                },
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                },
                {
                "id": "6b3ab8f1-4ef4-4270-ad14-999fcfc458a4",
                "name": "view-consent",
                "description": "${role_view-consent}",
                "composite": false,
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                },
                {
                "id": "df797749-35da-4891-b928-e1fe7e39f297",
                "name": "view-profile",
                "description": "${role_view-profile}",
                "composite": false,
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                },
                {
                "id": "93d5197c-31c0-45c3-b788-62cb80e701d5",
                "name": "manage-account-links",
                "description": "${role_manage-account-links}",
                "composite": false,
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                },
                {
                "id": "cf94b97d-0b1e-4229-bc79-d0d342a7022e",
                "name": "manage-consent",
                "description": "${role_manage-consent}",
                "composite": true,
                "composites": {
                    "client": {
                    "account": [
                        "view-consent"
                    ]
                    }
                },
                "clientRole": true,
                "containerId": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
                "attributes": {}
                }
            ]
            }
        },
        "groups": [
            {
            "id": "e82e340c-1809-424d-a0e0-e330587d7e31",
            "name": "application_expert",
            "path": "/application_expert",
            "attributes": {},
            "realmRoles": [],
            "clientRoles": {
                "${KEYCLOAK_CLIENT_ID}": [
                "rm_r",
                "aadm_r",
                "aadm_w"
                ]
            },
            "subGroups": []
            },
            {
            "id": "5422a5ff-77c8-4abc-a8bb-200b400ab54e",
            "name": "clinical",
            "path": "/clinical",
            "attributes": {},
            "realmRoles": [],
            "clientRoles": {},
            "subGroups": []
            },
            {
            "id": "5eae0001-e160-4f8d-9194-8b15146a9e59",
            "name": "clinical_aoe",
            "path": "/clinical_aoe",
            "attributes": {},
            "realmRoles": [],
            "clientRoles": {
                "${KEYCLOAK_CLIENT_ID}": [
                "clinical_aadm_w",
                "clinical_aadm_r"
                ]
            },
            "subGroups": []
            },
            {
            "id": "81f682e8-1442-45b2-afc0-1275ef4e697f",
            "name": "public",
            "path": "/public",
            "attributes": {},
            "realmRoles": [],
            "clientRoles": {},
            "subGroups": []
            },
            {
            "id": "92aca7ee-606f-480a-9159-cf8f56a2e65f",
            "name": "resource_expert",
            "path": "/resource_expert",
            "attributes": {},
            "realmRoles": [],
            "clientRoles": {
                "${KEYCLOAK_CLIENT_ID}": [
                "rm_r",
                "rm_w"
                ]
            },
            "subGroups": []
            },
            {
            "id": "a4180757-22dd-4926-9d4b-281e1ab0489c",
            "name": "snow",
            "path": "/snow",
            "attributes": {},
            "realmRoles": [],
            "clientRoles": {},
            "subGroups": [
                {
                "id": "fbe9a660-508e-47ec-8521-2196b5e41808",
                "name": "snow_aoe",
                "path": "/snow/snow_aoe",
                "attributes": {},
                "realmRoles": [],
                "clientRoles": {
                    "${KEYCLOAK_CLIENT_ID}": [
                    "snow_rm_r",
                    "snow_aadm_w",
                    "snow_aadm_r"
                    ]
                },
                "subGroups": []
                },
                {
                "id": "37f23564-3881-41b2-88e1-8e50b9da8d12",
                "name": "snow_re",
                "path": "/snow/snow_re",
                "attributes": {},
                "realmRoles": [],
                "clientRoles": {
                    "${KEYCLOAK_CLIENT_ID}": [
                    "snow_rm_r",
                    "snow_rm_w"
                    ]
                },
                "subGroups": []
                }
            ]
            }
        ],
        "defaultRoles": [
            "offline_access",
            "uma_authorization"
        ],
        "requiredCredentials": [
            "password"
        ],
        "otpPolicyType": "totp",
        "otpPolicyAlgorithm": "HmacSHA1",
        "otpPolicyInitialCounter": 0,
        "otpPolicyDigits": 6,
        "otpPolicyLookAheadWindow": 1,
        "otpPolicyPeriod": 30,
        "otpSupportedApplications": [
            "FreeOTP",
            "Google Authenticator"
        ],
        "webAuthnPolicyRpEntityName": "keycloak",
        "webAuthnPolicySignatureAlgorithms": [
            "ES256"
        ],
        "webAuthnPolicyRpId": "",
        "webAuthnPolicyAttestationConveyancePreference": "not specified",
        "webAuthnPolicyAuthenticatorAttachment": "not specified",
        "webAuthnPolicyRequireResidentKey": "not specified",
        "webAuthnPolicyUserVerificationRequirement": "not specified",
        "webAuthnPolicyCreateTimeout": 0,
        "webAuthnPolicyAvoidSameAuthenticatorRegister": false,
        "webAuthnPolicyAcceptableAaguids": [],
        "webAuthnPolicyPasswordlessRpEntityName": "keycloak",
        "webAuthnPolicyPasswordlessSignatureAlgorithms": [
            "ES256"
        ],
        "webAuthnPolicyPasswordlessRpId": "",
        "webAuthnPolicyPasswordlessAttestationConveyancePreference": "not specified",
        "webAuthnPolicyPasswordlessAuthenticatorAttachment": "not specified",
        "webAuthnPolicyPasswordlessRequireResidentKey": "not specified",
        "webAuthnPolicyPasswordlessUserVerificationRequirement": "not specified",
        "webAuthnPolicyPasswordlessCreateTimeout": 0,
        "webAuthnPolicyPasswordlessAvoidSameAuthenticatorRegister": false,
        "webAuthnPolicyPasswordlessAcceptableAaguids": [],
        "scopeMappings": [
            {
            "clientScope": "offline_access",
            "roles": [
                "offline_access"
            ]
            }
        ],
        "clientScopeMappings": {
            "account": [
            {
                "client": "account-console",
                "roles": [
                "manage-account"
                ]
            }
            ]
        },
        "clients": [
            {
            "id": "9e606515-5177-48a1-8c12-9603ed4a0cfb",
            "clientId": "account",
            "name": "${client_account}",
            "rootUrl": "${authBaseUrl}",
            "baseUrl": "/realms/${KEYCLOAK_REALM}/account/",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "defaultRoles": [
                "manage-account",
                "view-profile"
            ],
            "redirectUris": [
                "/realms/${KEYCLOAK_REALM}/account/*"
            ],
            "webOrigins": [],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {},
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": false,
            "nodeReRegistrationTimeout": 0,
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            },
            {
            "id": "e39f9e6c-9af4-47c0-9c8f-672ee9450797",
            "clientId": "account-console",
            "name": "${client_account-console}",
            "rootUrl": "${authBaseUrl}",
            "baseUrl": "/realms/${KEYCLOAK_REALM}/account/",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "redirectUris": [
                "/realms/${KEYCLOAK_REALM}/account/*"
            ],
            "webOrigins": [],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": true,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
                "pkce.code.challenge.method": "S256"
            },
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": false,
            "nodeReRegistrationTimeout": 0,
            "protocolMappers": [
                {
                "id": "a799c29a-e673-4d59-9dca-2fe7d9689ce9",
                "name": "audience resolve",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-audience-resolve-mapper",
                "consentRequired": false,
                "config": {}
                }
            ],
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            },
            {
            "id": "8e157a30-1314-4aec-b3fb-c209af15900a",
            "clientId": "admin-cli",
            "name": "${client_admin-cli}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "redirectUris": [],
            "webOrigins": [],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": false,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": true,
            "serviceAccountsEnabled": false,
            "publicClient": true,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {},
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": false,
            "nodeReRegistrationTimeout": 0,
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            },
            {
            "id": "2cc0a18f-9e52-4932-8981-96531b2fb90c",
            "clientId": "broker",
            "name": "${client_broker}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "redirectUris": [],
            "webOrigins": [],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {},
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": false,
            "nodeReRegistrationTimeout": 0,
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            },
            {
            "id": "f1df4bc8-befc-4a03-bd71-d25650e06424",
            "clientId": "realm-management",
            "name": "${client_realm-management}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "redirectUris": [],
            "webOrigins": [],
            "notBefore": 0,
            "bearerOnly": true,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {},
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": false,
            "nodeReRegistrationTimeout": 0,
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            },
            {
            "id": "cdff0242-c95d-4610-bb2c-88e3618a95e9",
            "clientId": "security-admin-console",
            "name": "${client_security-admin-console}",
            "rootUrl": "${authAdminUrl}",
            "baseUrl": "/admin/${KEYCLOAK_REALM}/console/",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "redirectUris": [
                "/admin/${KEYCLOAK_REALM}/console/*"
            ],
            "webOrigins": [
                "+"
            ],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": true,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": false,
            "publicClient": true,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
                "pkce.code.challenge.method": "S256"
            },
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": false,
            "nodeReRegistrationTimeout": 0,
            "protocolMappers": [
                {
                "id": "a37d2dae-3aa3-4f81-b99f-93fc680816db",
                "name": "locale",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "locale",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "locale",
                    "jsonType.label": "String"
                }
                }
            ],
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            },
            {
            "id": "9667a547-f6a9-4812-bbdd-803770dd9706",
            "clientId": "${KEYCLOAK_CLIENT_ID}",
            "surrogateAuthRequired": false,
            "enabled": true,
            "alwaysDisplayInConsole": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "${KEYCLOAK_CLIENT_SECRET}",
            "redirectUris": [],
            "webOrigins": [],
            "notBefore": 0,
            "bearerOnly": false,
            "consentRequired": false,
            "standardFlowEnabled": false,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": true,
            "serviceAccountsEnabled": false,
            "publicClient": false,
            "frontchannelLogout": false,
            "protocol": "openid-connect",
            "attributes": {
                "access.token.lifespan": "43200",
                "saml.assertion.signature": "false",
                "saml.force.post.binding": "false",
                "saml.multivalued.roles": "false",
                "saml.encrypt": "false",
                "saml.server.signature": "false",
                "saml.server.signature.keyinfo.ext": "false",
                "exclude.session.state.from.auth.response": "false",
                "saml_force_name_id_format": "false",
                "saml.client.signature": "false",
                "tls.client.certificate.bound.access.tokens": "false",
                "saml.authnstatement": "false",
                "display.on.consent.screen": "false",
                "saml.onetimeuse.condition": "false"
            },
            "authenticationFlowBindingOverrides": {},
            "fullScopeAllowed": true,
            "nodeReRegistrationTimeout": -1,
            "defaultClientScopes": [
                "web-origins",
                "role_list",
                "profile",
                "roles",
                "email"
            ],
            "optionalClientScopes": [
                "address",
                "phone",
                "offline_access",
                "microprofile-jwt"
            ]
            }
        ],
        "clientScopes": [
            {
            "id": "2406e591-8b88-4e63-8272-a355a86cfbd4",
            "name": "address",
            "description": "OpenID Connect built-in scope: address",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "true",
                "display.on.consent.screen": "true",
                "consent.screen.text": "${addressScopeConsentText}"
            },
            "protocolMappers": [
                {
                "id": "5a3b7a56-3f78-4d60-a283-9249b508dec9",
                "name": "address",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-address-mapper",
                "consentRequired": false,
                "config": {
                    "user.attribute.formatted": "formatted",
                    "user.attribute.country": "country",
                    "user.attribute.postal_code": "postal_code",
                    "userinfo.token.claim": "true",
                    "user.attribute.street": "street",
                    "id.token.claim": "true",
                    "user.attribute.region": "region",
                    "access.token.claim": "true",
                    "user.attribute.locality": "locality"
                }
                }
            ]
            },
            {
            "id": "05051618-3ad0-42a6-82fa-0b34221c21a9",
            "name": "email",
            "description": "OpenID Connect built-in scope: email",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "true",
                "display.on.consent.screen": "true",
                "consent.screen.text": "${emailScopeConsentText}"
            },
            "protocolMappers": [
                {
                "id": "be473b9a-45ee-4cb1-8dd0-52d4b1a12c79",
                "name": "email",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-property-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "email",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "email",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "ae16d547-6287-42b5-8534-2f5e14040ef7",
                "name": "email verified",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-property-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "emailVerified",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "email_verified",
                    "jsonType.label": "boolean"
                }
                }
            ]
            },
            {
            "id": "2a79f10d-3cd7-4c5c-91a3-8519fdda5fad",
            "name": "microprofile-jwt",
            "description": "Microprofile - JWT built-in scope",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "true",
                "display.on.consent.screen": "false"
            },
            "protocolMappers": [
                {
                "id": "3357d11e-71cf-4fec-b28c-f76ab4f8e803",
                "name": "groups",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-realm-role-mapper",
                "consentRequired": false,
                "config": {
                    "multivalued": "true",
                    "userinfo.token.claim": "true",
                    "user.attribute": "foo",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "groups",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "12201069-c3bc-4572-b2bb-25c3a78c8385",
                "name": "upn",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-property-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "username",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "upn",
                    "jsonType.label": "String"
                }
                }
            ]
            },
            {
            "id": "ce82daed-0e7b-4d24-979a-7cb28b567ad8",
            "name": "offline_access",
            "description": "OpenID Connect built-in scope: offline_access",
            "protocol": "openid-connect",
            "attributes": {
                "consent.screen.text": "${offlineAccessScopeConsentText}",
                "display.on.consent.screen": "true"
            }
            },
            {
            "id": "89ff926e-f38b-46cc-995e-14419e5731a3",
            "name": "phone",
            "description": "OpenID Connect built-in scope: phone",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "true",
                "display.on.consent.screen": "true",
                "consent.screen.text": "${phoneScopeConsentText}"
            },
            "protocolMappers": [
                {
                "id": "50ec5841-54ac-4b58-b156-c0ccc699495d",
                "name": "phone number verified",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "phoneNumberVerified",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "phone_number_verified",
                    "jsonType.label": "boolean"
                }
                },
                {
                "id": "a1a4b9b4-9c5f-4e55-9f50-f465ed488a38",
                "name": "phone number",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "phoneNumber",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "phone_number",
                    "jsonType.label": "String"
                }
                }
            ]
            },
            {
            "id": "025c2289-5820-49e9-9fd3-c5f864e7024f",
            "name": "profile",
            "description": "OpenID Connect built-in scope: profile",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "true",
                "display.on.consent.screen": "true",
                "consent.screen.text": "${profileScopeConsentText}"
            },
            "protocolMappers": [
                {
                "id": "a130dfeb-80cc-489b-bc4d-09785aca3da3",
                "name": "given name",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-property-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "firstName",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "given_name",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "f2162a64-8ca8-4f14-b27f-6c625dcb4746",
                "name": "family name",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-property-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "lastName",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "family_name",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "7df20f12-f248-4ebd-a8c6-fa70b7274ea0",
                "name": "picture",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "picture",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "picture",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "b457340f-10f1-4a48-a6d2-8f18edfd6bb4",
                "name": "nickname",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "nickname",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "nickname",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "704fd98b-ed5f-46e5-be04-b6e5c657cf01",
                "name": "website",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "website",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "website",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "144a3635-75b3-4106-b5f4-c78e5188d339",
                "name": "birthdate",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "birthdate",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "birthdate",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "f0828581-ee3f-4aa0-9059-939427ef5cc2",
                "name": "full name",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-full-name-mapper",
                "consentRequired": false,
                "config": {
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "userinfo.token.claim": "true"
                }
                },
                {
                "id": "fa608b36-922d-4372-947a-482ea736f91a",
                "name": "updated at",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "updatedAt",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "updated_at",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "f7a95abe-00a2-4681-ba97-1f04609cef05",
                "name": "middle name",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "middleName",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "middle_name",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "bae9a032-1de2-43c0-b7a5-902f5e0ca475",
                "name": "zoneinfo",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "zoneinfo",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "zoneinfo",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "5a7f12cf-f10b-453a-9618-f9dc771d4f70",
                "name": "locale",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "locale",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "locale",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "075ba15a-63f2-4964-b254-c1175bbba43c",
                "name": "profile",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "profile",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "profile",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "011a6ca5-a4d0-442c-9ec7-0a0d50692f9a",
                "name": "gender",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-attribute-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "gender",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "gender",
                    "jsonType.label": "String"
                }
                },
                {
                "id": "7ffe688b-ebb0-49ff-bd64-9f9d34cee4cb",
                "name": "username",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-property-mapper",
                "consentRequired": false,
                "config": {
                    "userinfo.token.claim": "true",
                    "user.attribute": "username",
                    "id.token.claim": "true",
                    "access.token.claim": "true",
                    "claim.name": "preferred_username",
                    "jsonType.label": "String"
                }
                }
            ]
            },
            {
            "id": "803a99a5-e365-4d48-b718-bf84a45a1e4c",
            "name": "role_list",
            "description": "SAML role list",
            "protocol": "saml",
            "attributes": {
                "consent.screen.text": "${samlRoleListScopeConsentText}",
                "display.on.consent.screen": "true"
            },
            "protocolMappers": [
                {
                "id": "593a4373-1074-4dab-9eeb-4c9ef55ec5d0",
                "name": "role list",
                "protocol": "saml",
                "protocolMapper": "saml-role-list-mapper",
                "consentRequired": false,
                "config": {
                    "single": "false",
                    "attribute.nameformat": "Basic",
                    "attribute.name": "Role"
                }
                }
            ]
            },
            {
            "id": "5d3bb553-d6c4-4928-89a0-dfbe660b8964",
            "name": "roles",
            "description": "OpenID Connect scope for add user roles to the access token",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "false",
                "display.on.consent.screen": "true",
                "consent.screen.text": "${rolesScopeConsentText}"
            },
            "protocolMappers": [
                {
                "id": "eb5fd4b5-f685-44e6-b824-d2611a85e887",
                "name": "realm roles",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-realm-role-mapper",
                "consentRequired": false,
                "config": {
                    "user.attribute": "foo",
                    "access.token.claim": "true",
                    "claim.name": "realm_access.roles",
                    "jsonType.label": "String",
                    "multivalued": "true"
                }
                },
                {
                "id": "24163524-273a-4d9e-8e25-651629aeac9a",
                "name": "audience resolve",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-audience-resolve-mapper",
                "consentRequired": false,
                "config": {}
                },
                {
                "id": "a86a3fe3-b2fb-40b9-a08b-efa61d6cc4e4",
                "name": "client roles",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-usermodel-client-role-mapper",
                "consentRequired": false,
                "config": {
                    "user.attribute": "foo",
                    "access.token.claim": "true",
                    "claim.name": "resource_access.${client_id}.roles",
                    "jsonType.label": "String",
                    "multivalued": "true"
                }
                }
            ]
            },
            {
            "id": "cb9f4500-7314-42a7-9de2-eb8b9c794211",
            "name": "web-origins",
            "description": "OpenID Connect scope for add allowed web origins to the access token",
            "protocol": "openid-connect",
            "attributes": {
                "include.in.token.scope": "false",
                "display.on.consent.screen": "false",
                "consent.screen.text": ""
            },
            "protocolMappers": [
                {
                "id": "7733e7fd-357e-4c8b-a18e-275d249fccda",
                "name": "allowed web origins",
                "protocol": "openid-connect",
                "protocolMapper": "oidc-allowed-origins-mapper",
                "consentRequired": false,
                "config": {}
                }
            ]
            }
        ],
        "defaultDefaultClientScopes": [
            "profile",
            "email",
            "roles",
            "role_list",
            "web-origins"
        ],
        "defaultOptionalClientScopes": [
            "address",
            "microprofile-jwt",
            "phone",
            "offline_access"
        ],
        "browserSecurityHeaders": {
            "contentSecurityPolicyReportOnly": "",
            "xContentTypeOptions": "nosniff",
            "xRobotsTag": "none",
            "xFrameOptions": "SAMEORIGIN",
            "contentSecurityPolicy": "frame-src 'self'; frame-ancestors 'self'; object-src 'none';",
            "xXSSProtection": "1; mode=block",
            "strictTransportSecurity": "max-age=31536000; includeSubDomains"
        },
        "smtpServer": {},
        "eventsEnabled": false,
        "eventsListeners": [
            "jboss-logging"
        ],
        "enabledEventTypes": [],
        "adminEventsEnabled": false,
        "adminEventsDetailsEnabled": false,
        "identityProviders": [],
        "identityProviderMappers": [],
        "components": {
            "org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy": [
            {
                "id": "edce9e48-a491-455e-9b7e-8018fc9b754e",
                "name": "Allowed Client Scopes",
                "providerId": "allowed-client-templates",
                "subType": "anonymous",
                "subComponents": {},
                "config": {
                "allow-default-scopes": [
                    "true"
                ]
                }
            },
            {
                "id": "91a8b4c7-5674-4a8c-aa5a-220e3128e202",
                "name": "Consent Required",
                "providerId": "consent-required",
                "subType": "anonymous",
                "subComponents": {},
                "config": {}
            },
            {
                "id": "741b3da1-c97c-4084-90a1-493091d6671f",
                "name": "Max Clients Limit",
                "providerId": "max-clients",
                "subType": "anonymous",
                "subComponents": {},
                "config": {
                "max-clients": [
                    "200"
                ]
                }
            },
            {
                "id": "83e08237-ace5-4126-ae0e-92e3a83a12ac",
                "name": "Trusted Hosts",
                "providerId": "trusted-hosts",
                "subType": "anonymous",
                "subComponents": {},
                "config": {
                "host-sending-registration-request-must-match": [
                    "true"
                ],
                "client-uris-must-match": [
                    "true"
                ]
                }
            },
            {
                "id": "abe6ef64-1216-424c-8649-6c745bc6845d",
                "name": "Full Scope Disabled",
                "providerId": "scope",
                "subType": "anonymous",
                "subComponents": {},
                "config": {}
            },
            {
                "id": "310e3fbc-bd88-40d1-8f9b-0fc591884795",
                "name": "Allowed Protocol Mapper Types",
                "providerId": "allowed-protocol-mappers",
                "subType": "anonymous",
                "subComponents": {},
                "config": {
                "allowed-protocol-mapper-types": [
                    "oidc-address-mapper",
                    "oidc-sha256-pairwise-sub-mapper",
                    "oidc-usermodel-property-mapper",
                    "oidc-usermodel-attribute-mapper",
                    "saml-user-attribute-mapper",
                    "saml-role-list-mapper",
                    "saml-user-property-mapper",
                    "oidc-full-name-mapper"
                ]
                }
            },
            {
                "id": "2599ade6-8318-40ed-b948-ce5e6c5a016a",
                "name": "Allowed Protocol Mapper Types",
                "providerId": "allowed-protocol-mappers",
                "subType": "authenticated",
                "subComponents": {},
                "config": {
                "allowed-protocol-mapper-types": [
                    "oidc-address-mapper",
                    "saml-user-attribute-mapper",
                    "saml-user-property-mapper",
                    "oidc-usermodel-attribute-mapper",
                    "oidc-full-name-mapper",
                    "oidc-sha256-pairwise-sub-mapper",
                    "oidc-usermodel-property-mapper",
                    "saml-role-list-mapper"
                ]
                }
            },
            {
                "id": "e8999020-5e29-44f5-8c83-9af2e75d3f97",
                "name": "Allowed Client Scopes",
                "providerId": "allowed-client-templates",
                "subType": "authenticated",
                "subComponents": {},
                "config": {
                "allow-default-scopes": [
                    "true"
                ]
                }
            }
            ],
            "org.keycloak.keys.KeyProvider": [
            {
                "id": "22dbf9e3-4ff4-4f57-bacf-bab62be8b36e",
                "name": "aes-generated",
                "providerId": "aes-generated",
                "subComponents": {},
                "config": {
                "priority": [
                    "100"
                ]
                }
            },
            {
                "id": "3a3ba8e5-020e-4b01-99b6-5a263d573376",
                "name": "rsa-generated",
                "providerId": "rsa-generated",
                "subComponents": {},
                "config": {
                "priority": [
                    "100"
                ]
                }
            },
            {
                "id": "fcfe6305-1ec9-4575-8791-f83f6ec578c8",
                "name": "hmac-generated",
                "providerId": "hmac-generated",
                "subComponents": {},
                "config": {
                "priority": [
                    "100"
                ],
                "algorithm": [
                    "HS256"
                ]
                }
            }
            ]
        },
        "internationalizationEnabled": false,
        "supportedLocales": [],
        "authenticationFlows": [
            {
            "id": "78498bfc-6d1b-452e-a27d-ce2664972492",
            "alias": "Account verification options",
            "description": "Method with which to verity the existing account",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "idp-email-verification",
                "requirement": "ALTERNATIVE",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "ALTERNATIVE",
                "priority": 20,
                "flowAlias": "Verify Existing Account by Re-authentication",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "4e93258f-8c6e-48a2-a0ca-bad0879e3656",
            "alias": "Authentication Options",
            "description": "Authentication options.",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "basic-auth",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "basic-auth-otp",
                "requirement": "DISABLED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "auth-spnego",
                "requirement": "DISABLED",
                "priority": 30,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "b773f127-4db4-4485-8adb-57a42821aa7a",
            "alias": "Browser - Conditional OTP",
            "description": "Flow to determine if the OTP is required for the authentication",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "conditional-user-configured",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "auth-otp-form",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "da5ac470-3825-4cad-ab54-a634e2202cae",
            "alias": "Direct Grant - Conditional OTP",
            "description": "Flow to determine if the OTP is required for the authentication",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "conditional-user-configured",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "direct-grant-validate-otp",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "dea609b7-dee2-4c95-88d1-3ad8a8d2709d",
            "alias": "First broker login - Conditional OTP",
            "description": "Flow to determine if the OTP is required for the authentication",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "conditional-user-configured",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "auth-otp-form",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "560a2f63-a7dd-40b2-a691-3f51ca30ed54",
            "alias": "Handle Existing Account",
            "description": "Handle what to do if there is existing account with same email/username like authenticated identity provider",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "idp-confirm-link",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "REQUIRED",
                "priority": 20,
                "flowAlias": "Account verification options",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "abeb0f6a-3bcb-4203-b391-05aa1bd59c2e",
            "alias": "Reset - Conditional OTP",
            "description": "Flow to determine if the OTP should be reset or not. Set to REQUIRED to force.",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "conditional-user-configured",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "reset-otp",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "f7be838e-9eb8-435d-ae44-36b9fff98912",
            "alias": "User creation or linking",
            "description": "Flow for the existing/non-existing user alternatives",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticatorConfig": "create unique user config",
                "authenticator": "idp-create-user-if-unique",
                "requirement": "ALTERNATIVE",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "ALTERNATIVE",
                "priority": 20,
                "flowAlias": "Handle Existing Account",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "ed6bc2ba-825e-4e79-8739-5697f69b2e73",
            "alias": "Verify Existing Account by Re-authentication",
            "description": "Reauthentication of existing account",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "idp-username-password-form",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "CONDITIONAL",
                "priority": 20,
                "flowAlias": "First broker login - Conditional OTP",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "3a1eb0fc-7d7f-4ece-a1e0-078334b3bf3b",
            "alias": "browser",
            "description": "browser based authentication",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "auth-cookie",
                "requirement": "ALTERNATIVE",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "auth-spnego",
                "requirement": "DISABLED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "identity-provider-redirector",
                "requirement": "ALTERNATIVE",
                "priority": 25,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "ALTERNATIVE",
                "priority": 30,
                "flowAlias": "forms",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "68583443-05d5-4dab-9700-46497c397931",
            "alias": "clients",
            "description": "Base authentication for clients",
            "providerId": "client-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "client-secret",
                "requirement": "ALTERNATIVE",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "client-jwt",
                "requirement": "ALTERNATIVE",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "client-secret-jwt",
                "requirement": "ALTERNATIVE",
                "priority": 30,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "client-x509",
                "requirement": "ALTERNATIVE",
                "priority": 40,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "e0e68eab-9b60-45ca-be06-9c76e9644cc4",
            "alias": "direct grant",
            "description": "OpenID Connect Resource Owner Grant",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "direct-grant-validate-username",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "direct-grant-validate-password",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "CONDITIONAL",
                "priority": 30,
                "flowAlias": "Direct Grant - Conditional OTP",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "4ae46898-cdb5-4154-80b2-b3f5dbb079c9",
            "alias": "docker auth",
            "description": "Used by Docker clients to authenticate against the IDP",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "docker-http-basic-authenticator",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "d1dc8029-519b-4008-84d2-15c28b2c85e1",
            "alias": "first broker login",
            "description": "Actions taken after first broker login with identity provider account, which is not yet linked to any Keycloak account",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticatorConfig": "review profile config",
                "authenticator": "idp-review-profile",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "REQUIRED",
                "priority": 20,
                "flowAlias": "User creation or linking",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "6d417680-8353-433a-93f9-02edb80c18a9",
            "alias": "forms",
            "description": "Username, password, otp and other auth forms.",
            "providerId": "basic-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "auth-username-password-form",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "CONDITIONAL",
                "priority": 20,
                "flowAlias": "Browser - Conditional OTP",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "c7be341d-8d17-4db6-8acf-9010ebe653dc",
            "alias": "http challenge",
            "description": "An authentication flow based on challenge-response HTTP Authentication Schemes",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "no-cookie-redirect",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "REQUIRED",
                "priority": 20,
                "flowAlias": "Authentication Options",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "8f6c7277-0638-4f5f-9937-446a4f5ac9e4",
            "alias": "registration",
            "description": "registration flow",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "registration-page-form",
                "requirement": "REQUIRED",
                "priority": 10,
                "flowAlias": "registration form",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "a4cc54a6-b3a8-4230-b6d6-97b8563779b5",
            "alias": "registration form",
            "description": "registration form",
            "providerId": "form-flow",
            "topLevel": false,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "registration-user-creation",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "registration-profile-action",
                "requirement": "REQUIRED",
                "priority": 40,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "registration-password-action",
                "requirement": "REQUIRED",
                "priority": 50,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "registration-recaptcha-action",
                "requirement": "DISABLED",
                "priority": 60,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            },
            {
            "id": "b74e1b97-9cb1-4630-b2ff-38b9d357918f",
            "alias": "reset credentials",
            "description": "Reset credentials for a user if they forgot their password or something",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "reset-credentials-choose-user",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "reset-credential-email",
                "requirement": "REQUIRED",
                "priority": 20,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "authenticator": "reset-password",
                "requirement": "REQUIRED",
                "priority": 30,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                },
                {
                "requirement": "CONDITIONAL",
                "priority": 40,
                "flowAlias": "Reset - Conditional OTP",
                "userSetupAllowed": false,
                "autheticatorFlow": true
                }
            ]
            },
            {
            "id": "dec841fa-03b3-4759-8ad0-ccdbe18f5462",
            "alias": "saml ecp",
            "description": "SAML ECP Profile Authentication Flow",
            "providerId": "basic-flow",
            "topLevel": true,
            "builtIn": true,
            "authenticationExecutions": [
                {
                "authenticator": "http-basic-authenticator",
                "requirement": "REQUIRED",
                "priority": 10,
                "userSetupAllowed": false,
                "autheticatorFlow": false
                }
            ]
            }
        ],
        "authenticatorConfig": [
            {
            "id": "53e5ec9a-5e46-44f5-af7c-4208665bb5ca",
            "alias": "create unique user config",
            "config": {
                "require.password.update.after.registration": "false"
            }
            },
            {
            "id": "4f3b4bc5-5c22-4862-9b2c-19dcb11dd4e6",
            "alias": "review profile config",
            "config": {
                "update.profile.on.first.login": "missing"
            }
            }
        ],
        "requiredActions": [
            {
            "alias": "CONFIGURE_TOTP",
            "name": "Configure OTP",
            "providerId": "CONFIGURE_TOTP",
            "enabled": true,
            "defaultAction": false,
            "priority": 10,
            "config": {}
            },
            {
            "alias": "terms_and_conditions",
            "name": "Terms and Conditions",
            "providerId": "terms_and_conditions",
            "enabled": false,
            "defaultAction": false,
            "priority": 20,
            "config": {}
            },
            {
            "alias": "UPDATE_PASSWORD",
            "name": "Update Password",
            "providerId": "UPDATE_PASSWORD",
            "enabled": true,
            "defaultAction": false,
            "priority": 30,
            "config": {}
            },
            {
            "alias": "UPDATE_PROFILE",
            "name": "Update Profile",
            "providerId": "UPDATE_PROFILE",
            "enabled": true,
            "defaultAction": false,
            "priority": 40,
            "config": {}
            },
            {
            "alias": "VERIFY_EMAIL",
            "name": "Verify Email",
            "providerId": "VERIFY_EMAIL",
            "enabled": true,
            "defaultAction": false,
            "priority": 50,
            "config": {}
            },
            {
            "alias": "delete_account",
            "name": "Delete Account",
            "providerId": "delete_account",
            "enabled": false,
            "defaultAction": false,
            "priority": 60,
            "config": {}
            },
            {
            "alias": "update_user_locale",
            "name": "Update User Locale",
            "providerId": "update_user_locale",
            "enabled": true,
            "defaultAction": false,
            "priority": 1000,
            "config": {}
            }
        ],
        "browserFlow": "browser",
        "registrationFlow": "registration",
        "directGrantFlow": "direct grant",
        "resetCredentialsFlow": "reset credentials",
        "clientAuthenticationFlow": "clients",
        "dockerAuthenticationFlow": "docker auth",
        "attributes": {
            "clientOfflineSessionMaxLifespan": "0",
            "clientSessionIdleTimeout": "0",
            "clientSessionMaxLifespan": "0",
            "clientOfflineSessionIdleTimeout": "0"
        },
        "keycloakVersion": "12.0.1",
        "userManagedAccessAllowed": false
        }