---
apiVersion: v1
kind: ConfigMap
metadata:
  name: vault-secret-uploader
  namespace: sodalite-services
data:
  OIDC_INTROSPECTION_ENDPOINT: "http://keycloak/realms/${KEYCLOAK_REALM}/protocol/openid-connect/token/introspect"
  OIDC_INTROSPECTION_SECRET: "${KEYCLOAK_CLIENT_SECRET}"
  VAULT_ADDRESS: vault:8200
  VAULT_ADMIN_TOKEN: "${VAULT_ROOT_TOKEN}"
  VAULT_SECRET_UPLOADER_PORT: "8202"