# OpenStack VM
ssh-key-name: ${VM_SSH_KEY_NAME}
image-name: "${VM_IMAGE_NAME}"
username: ${VM_USERNAME}
openstack-network-name: ${OS_NETWORK}
flavor-name: m1.large
# Docker host
docker-network: sodalite
dockerhub-user:
dockerhub-pass:
docker-public-registry-url: registry.hub.docker.com
docker-registry-cert-country-name: SI
docker-registry-cert-organization-name: XLAB
docker-registry-cert-email-address: $SODALITE_EMAIL
# xOpera REST API
sodalite_db_username: $SODALITE_DB_USERNAME
sodalite_db_password: $SODALITE_DB_PASSWORD
sodalite_git_token: $SODALITE_GIT_TOKEN
xopera_auth_api_key: ${XOPERA_AUTH_API_KEY}
# Image Builder
registry_ip_address: $IP_ADDRESS
# Vault
vault_token: $VAULT_TOKEN
project_domains: [ snow, clinical, vehicle, pds ]
# Keycloak
keycloak_admin_password: $KEYCLOAK_ADMIN_PASSWORD
keycloak_client_secret: $KEYCLOAK_CLIENT_SECRET
oidc_introspection_endpoint: http://keycloak:8080/auth/realms/SODALITE/protocol/openid-connect/token/introspect
# Semantic Reasoner
kb_password: $KB_PASSWORD
gf_admin_pw: $GF_ADMIN_PW
gf_admin_user: admin
gf_port: "3000"
gf_registry_port: "3001"
ruleserver_port: "9092"
vault_secret_uploader_port: "8202"
vault_address: vault
# Apache NiFi
nifi_ca_token: $NIFI_CA_TOKEN
nifi_sensitive_props_key: $NIFI_SENSITIVE_PROPS_KEY
nifi_oidc_admin: $NIFI_OIDC_ADMIN
nifi_gridftp_certificates_location: $NIFI_GRIDFTP_CERTIFICATES_LOCATION